# 데이터 탐색, 전처리

In [1]:
import numpy as np
import pandas as pd

In [4]:
data = pd.read_csv('0917/서울특별시 마포구_법정동별_월별_코로나19 확진자 현황.csv', encoding='euc-kr')
data

     기준연도  기준월    시도명 시군구명  법정동    확진자수
0    2020    1  서울특별시  마포구  공덕동     0.0
1    2020    2  서울특별시  마포구  공덕동     0.0
2    2020    3    NaN  NaN  NaN     2.0
3    2020    4  서울특별시  마포구  공덕동     NaN
4    2020    5  서울특별시  마포구  공덕동     NaN
..    ...  ...    ...  ...  ...     ...
679  2022    8  서울특별시  마포구  염리동  1053.0
680  2022    9  서울특별시  마포구  염리동   423.0
681  2022   10  서울특별시  마포구  염리동   289.0
682  2022   11  서울특별시  마포구  염리동   502.0
683  2022   12  서울특별시  마포구  염리동   669.0

[684 rows x 6 columns]

In [7]:
data['확진자수']

0         0.0
1         0.0
2         2.0
3         NaN
4         NaN
        ...
679    1053.0
680     423.0
681     289.0
682     502.0
683     669.0
Name: 확진자수, Length: 684, dtype: float64

In [10]:
df = data[['기준연도', '기준월', '법정동', '확진자수']]

In [12]:
type(df)

pandas.core.frame.DataFrame

In [13]:
df.head()

   기준연도  기준월  법정동  확진자수
0  2020    1  공덕동   0.0
1  2020    2  공덕동   0.0
2  2020    3  NaN   2.0
3  2020    4  공덕동   NaN
4  2020    5  공덕동   NaN

In [14]:
df.count()

기준연도    684
기준월     684
법정동     683
확진자수    682
dtype: int64

In [20]:
df['확진자수'].unique()

array([0.000e+00, 2.000e+00,       nan, 3.000e+00, 7.000e+00, 9.000e+00,
       1.000e+00, 3.100e+01, 1.100e+01, 6.000e+00, 1.400e+01, 2.700e+01,
       2.300e+01, 5.700e+01, 4.100e+01, 3.300e+01, 9.500e+01, 2.080e+02,
       1.530e+02, 1.876e+03, 7.186e+03, 2.582e+03, 5.330e+02, 2.190e+02,
       1.422e+03, 2.187e+03, 9.170e+02, 6.860e+02, 1.161e+03, 1.455e+03,
       2.000e+01, 1.480e+02, 5.500e+01, 8.000e+00, 4.000e+00, 2.900e+01,
       5.600e+01, 1.900e+01, 5.000e+00, 1.300e+01, 1.800e+01, 2.500e+01,
       6.200e+01, 3.590e+02, 1.120e+03, 4.090e+02, 9.600e+01, 3.700e+01,
       2.400e+02, 4.060e+02, 1.790e+02, 9.300e+01, 2.210e+02, 2.260e+02,
       3.900e+01, 1.900e+02, 7.000e+01, 1.000e+01, 3.000e+01, 4.900e+01,
       3.500e+01, 3.600e+01, 1.700e+01, 2.600e+01, 5.200e+01, 8.500e+01,
       9.000e+01, 8.180e+02, 3.370e+03, 1.139e+03, 2.000e+02, 8.600e+01,
       6.120e+02, 9.610e+02, 4.220e+02, 2.860e+02, 4.590e+02, 6.020e+02,
       3.400e+01, 2.200e+01, 2.800e+01, 5.900e+01, 1.420e+02, 1.010e+02,
       1.155e+03, 4.269e+03, 1.402e+03, 3.270e+02, 1.300e+02, 7.840e+02,
       1.363e+03, 5.540e+02, 3.730e+02, 6.570e+02, 8.550e+02, 1.200e+01,
       4.600e+01, 2.220e+02, 7.790e+02, 2.180e+02, 5.800e+01, 4.000e+01,
       1.720e+02, 2.570e+02, 1.110e+02, 8.100e+01, 1.220e+02, 1.400e+02,
       1.410e+02, 5.760e+02, 1.580e+02, 7.100e+01, 1.100e+02, 7.500e+01,
       4.500e+01, 1.080e+02, 2.200e+02, 1.968e+03, 7.390e+03, 2.514e+03,
       4.700e+02, 2.330e+02, 1.093e+03, 2.182e+03, 8.510e+02, 6.290e+02,
       1.069e+03, 1.355e+03, 5.400e+01, 4.480e+02, 1.428e+03, 4.890e+02,
       1.630e+02, 3.170e+02, 4.540e+02, 1.910e+02, 1.360e+02, 2.140e+02,
       2.810e+02, 6.300e+01, 6.000e+01, 5.100e+01, 7.700e+01, 1.590e+02,
       1.870e+02, 1.817e+03, 5.852e+03, 2.015e+03, 4.020e+02, 1.045e+03,
       1.941e+03, 8.620e+02, 6.560e+02, 9.380e+02, 1.193e+03, 6.400e+01,
       1.320e+02, 1.036e+03, 3.554e+03, 1.318e+03, 3.160e+02, 1.510e+02,
       7.690e+02, 1.165e+03, 4.560e+02, 3.200e+02, 7.120e+02, 1.600e+01,
       1.040e+02, 9.700e+01, 2.960e+02, 2.357e+03, 9.334e+03, 3.086e+03,
       6.030e+02, 2.240e+02, 1.618e+03, 2.776e+03, 1.225e+03, 8.310e+02,
       1.497e+03, 1.800e+03, 5.300e+01, 5.980e+02, 2.456e+03, 7.940e+02,
       2.040e+02, 5.060e+02, 7.630e+02, 3.110e+02, 2.480e+02, 3.880e+02,
       4.770e+02, 2.100e+01, 1.000e+02, 8.690e+02, 3.117e+03, 1.124e+03,
       2.150e+02, 8.700e+01, 5.750e+02, 9.450e+02, 3.810e+02, 2.550e+02,
       6.150e+02, 2.630e+02, 1.230e+02, 3.200e+01, 7.200e+01, 1.050e+02,
       4.400e+01, 1.500e+01, 8.900e+01, 1.620e+02, 1.237e+03, 4.862e+03,
       1.608e+03, 3.360e+02, 1.540e+02, 8.900e+02, 1.380e+03, 6.110e+02,
       4.760e+02, 7.330e+02, 8.980e+02, 3.800e+01, 7.380e+02, 2.594e+03,
       9.570e+02, 9.200e+01, 5.140e+02, 8.460e+02, 4.460e+02, 8.800e+01,
       9.400e+01, 8.000e+02, 3.747e+03, 1.358e+03, 2.580e+02, 7.510e+02,
       1.053e+03, 4.230e+02, 2.890e+02, 5.020e+02, 6.690e+02])

In [22]:
df['확진자수'].value_counts()

확진자수
0.0       160
1.0        41
2.0        28
3.0        22
4.0        15
         ...
1053.0      1
423.0       1
289.0       1
502.0       1
669.0       1
Name: count, Length: 244, dtype: int64

In [49]:
data = pd.read_csv('0917/서울특별시 마포구_법정동별_월별_코로나19 확진자 현황.csv', encoding='euc-kr')
data

     기준연도  기준월    시도명 시군구명  법정동    확진자수
0    2020    1  서울특별시  마포구  공덕동     0.0
1    2020    2  서울특별시  마포구  공덕동     0.0
2    2020    3    NaN  NaN  NaN     2.0
3    2020    4  서울특별시  마포구  공덕동     NaN
4    2020    5  서울특별시  마포구  공덕동     NaN
..    ...  ...    ...  ...  ...     ...
679  2022    8  서울특별시  마포구  염리동  1053.0
680  2022    9  서울특별시  마포구  염리동   423.0
681  2022   10  서울특별시  마포구  염리동   289.0
682  2022   11  서울특별시  마포구  염리동   502.0
683  2022   12  서울특별시  마포구  염리동   669.0

[684 rows x 6 columns]

In [50]:
df = data[['기준연도', '기준월', '법정동', '확진자수']]
df[df['확진자수'].isnull()]

   기준연도  기준월  법정동  확진자수
3  2020    4  공덕동   NaN
4  2020    5  공덕동   NaN

In [33]:
df['확진자수'].isnull().sum()

np.int64(2)

In [38]:
df.dropna()

     기준연도  기준월  법정동    확진자수
0    2020    1  공덕동     0.0
1    2020    2  공덕동     0.0
5    2020    6  공덕동     3.0
6    2020    7  공덕동     2.0
7    2020    8  공덕동     7.0
..    ...  ...  ...     ...
679  2022    8  염리동  1053.0
680  2022    9  염리동   423.0
681  2022   10  염리동   289.0
682  2022   11  염리동   502.0
683  2022   12  염리동   669.0

[681 rows x 4 columns]

In [40]:
df.dropna(subset='확진자수')

     기준연도  기준월  법정동    확진자수
0    2020    1  공덕동     0.0
1    2020    2  공덕동     0.0
2    2020    3  NaN     2.0
5    2020    6  공덕동     3.0
6    2020    7  공덕동     2.0
..    ...  ...  ...     ...
679  2022    8  염리동  1053.0
680  2022    9  염리동   423.0
681  2022   10  염리동   289.0
682  2022   11  염리동   502.0
683  2022   12  염리동   669.0

[682 rows x 4 columns]

In [42]:
df['법정동'].fillna('모름')
df['확진자수'].fillna(0)

0         0.0
1         0.0
2         2.0
3         0.0
4         0.0
        ...
679    1053.0
680     423.0
681     289.0
682     502.0
683     669.0
Name: 확진자수, Length: 684, dtype: float64

In [48]:
df = df.fillna({'법정동':'모름', '확진자수':0})
df

     기준연도  기준월  법정동    확진자수
0    2020    1  공덕동     0.0
1    2020    2  공덕동     0.0
2    2020    3   모름     2.0
3    2020    4  공덕동     0.0
4    2020    5  공덕동     0.0
..    ...  ...  ...     ...
679  2022    8  염리동  1053.0
680  2022    9  염리동   423.0
681  2022   10  염리동   289.0
682  2022   11  염리동   502.0
683  2022   12  염리동   669.0

[684 rows x 4 columns]

In [91]:
df = data[['기준연도', '기준월', '법정동', '확진자수']]
df

     기준연도  기준월  법정동    확진자수
0    2020    1  공덕동     0.0
1    2020    2  공덕동     0.0
2    2020    3  NaN     2.0
3    2020    4  공덕동     NaN
4    2020    5  공덕동     NaN
..    ...  ...  ...     ...
679  2022    8  염리동  1053.0
680  2022    9  염리동   423.0
681  2022   10  염리동   289.0
682  2022   11  염리동   502.0
683  2022   12  염리동   669.0

[684 rows x 4 columns]

In [61]:
df[df['확진자수'] > 3000]

     기준연도  기준월  법정동    확진자수
26   2022    3  공덕동  7186.0
170  2022    3  대흥동  3370.0
206  2022    3  도화동  4269.0
314  2022    3  망원동  7390.0
386  2022    3  상암동  5852.0
422  2022    3  서교동  3554.0
458  2022    3  성산동  9334.0
459  2022    4  성산동  3086.0
530  2022    3  신수동  3117.0
602  2022    3  아현동  4862.0
674  2022    3  염리동  3747.0

In [71]:
df.sort_values('확진자수', ascending=False).head()

     기준연도  기준월  법정동    확진자수
458  2022    3  성산동  9334.0
314  2022    3  망원동  7390.0
26   2022    3  공덕동  7186.0
386  2022    3  상암동  5852.0
602  2022    3  아현동  4862.0

In [92]:
df['법정동'] = df['법정동'].fillna('모름')
df[df['법정동'].str.startswith('공덕')]

C:\Users\406\AppData\Local\Temp\ipykernel_7280\570367135.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['법정동'] = df['법정동'].fillna('모름')

    기준연도  기준월  법정동    확진자수
0   2020    1  공덕동     0.0
1   2020    2  공덕동     0.0
3   2020    4  공덕동     NaN
4   2020    5  공덕동     NaN
5   2020    6  공덕동     3.0
6   2020    7  공덕동     2.0
7   2020    8  공덕동     7.0
8   2020    9  공덕동     9.0
9   2020   10  공덕동     1.0
10  2020   11  공덕동     7.0
11  2020   12  공덕동    31.0
12  2021    1  공덕동    11.0
13  2021    2  공덕동     6.0
14  2021    3  공덕동    14.0
15  2021    4  공덕동    14.0
16  2021    5  공덕동    27.0
17  2021    6  공덕동    23.0
18  2021    7  공덕동    57.0
19  2021    8  공덕동    41.0
20  2021    9  공덕동    33.0
21  2021   10  공덕동    33.0
22  2021   11  공덕동    95.0
23  2021   12  공덕동   208.0
24  2022    1  공덕동   153.0
25  2022    2  공덕동  1876.0
26  2022    3  공덕동  7186.0
27  2022    4  공덕동  2582.0
28  2022    5  공덕동   533.0
29  2022    6  공덕동   219.0
30  2022    7  공덕동  1422.0
31  2022    8  공덕동  2187.0
32  2022    9  공덕동   917.0
33  2022   10  공덕동   686.0
34  2022   11  공덕동  1161.0
35  2022   12  공덕동  1455.0

In [95]:
df[df['법정동'].str.contains('고산')]

     기준연도  기준월   법정동    확진자수
72   2020    1  노고산동     0.0
73   2020    2  노고산동     0.0
74   2020    3  노고산동     0.0
75   2020    4  노고산동     0.0
76   2020    5  노고산동     0.0
77   2020    6  노고산동     0.0
78   2020    7  노고산동     0.0
79   2020    8  노고산동     1.0
80   2020    9  노고산동     2.0
81   2020   10  노고산동     1.0
82   2020   11  노고산동     3.0
83   2020   12  노고산동     8.0
84   2021    1  노고산동     8.0
85   2021    2  노고산동     0.0
86   2021    3  노고산동     2.0
87   2021    4  노고산동     0.0
88   2021    5  노고산동     5.0
89   2021    6  노고산동     4.0
90   2021    7  노고산동    14.0
91   2021    8  노고산동    13.0
92   2021    9  노고산동    27.0
93   2021   10  노고산동     8.0
94   2021   11  노고산동    18.0
95   2021   12  노고산동    25.0
96   2022    1  노고산동    62.0
97   2022    2  노고산동   359.0
98   2022    3  노고산동  1120.0
99   2022    4  노고산동   409.0
100  2022    5  노고산동    96.0
101  2022    6  노고산동    37.0
102  2022    7  노고산동   240.0
103  2022    8  노고산동   406.0
104  2022    9  노고산동   179.0
105  2022   10  노고산동    93.0
106  2022   11  노고산동   221.0
107  2022   12  노고산동   226.0

In [96]:
df[df['법정동'].str.endswith('흥동')]

     기준연도  기준월  법정동    확진자수
144  2020    1  대흥동     0.0
145  2020    2  대흥동     0.0
146  2020    3  대흥동     0.0
147  2020    4  대흥동     0.0
148  2020    5  대흥동     0.0
149  2020    6  대흥동     0.0
150  2020    7  대흥동     0.0
151  2020    8  대흥동     1.0
152  2020    9  대흥동     2.0
153  2020   10  대흥동     3.0
154  2020   11  대흥동     4.0
155  2020   12  대흥동    27.0
156  2021    1  대흥동     9.0
157  2021    2  대흥동     2.0
158  2021    3  대흥동     4.0
159  2021    4  대흥동    11.0
160  2021    5  대흥동     4.0
161  2021    6  대흥동    10.0
162  2021    7  대흥동    36.0
163  2021    8  대흥동    17.0
164  2021    9  대흥동    26.0
165  2021   10  대흥동    14.0
166  2021   11  대흥동    52.0
167  2021   12  대흥동    85.0
168  2022    1  대흥동    90.0
169  2022    2  대흥동   818.0
170  2022    3  대흥동  3370.0
171  2022    4  대흥동  1139.0
172  2022    5  대흥동   200.0
173  2022    6  대흥동    86.0
174  2022    7  대흥동   612.0
175  2022    8  대흥동   961.0
176  2022    9  대흥동   422.0
177  2022   10  대흥동   286.0
178  2022   11  대흥동   459.0
179  2022   12  대흥동   602.0

In [97]:
df = data[['기준연도', '기준월', '법정동', '확진자수']]
df

     기준연도  기준월  법정동    확진자수
0    2020    1  공덕동     0.0
1    2020    2  공덕동     0.0
2    2020    3  NaN     2.0
3    2020    4  공덕동     NaN
4    2020    5  공덕동     NaN
..    ...  ...  ...     ...
679  2022    8  염리동  1053.0
680  2022    9  염리동   423.0
681  2022   10  염리동   289.0
682  2022   11  염리동   502.0
683  2022   12  염리동   669.0

[684 rows x 4 columns]

In [103]:
dfg = df.groupby('법정동').sum()
dfg['확진자수']['공덕동']

np.float64(20999.0)

In [109]:
dfg.astype({'확진자수' : 'int64'})

       기준연도  기준월   확진자수
법정동
공덕동   70736  231  20999
구수동   72756  234    407
노고산동  72756  234   3587
당인동   72756  234    516
대흥동   72756  234   9352
도화동   72756  234  12354
동교동   72756  234   2397
마포동   72756  234   1593
망원동   72756  234  20679
상수동   72756  234   4366
상암동   72756  234  17682
서교동   72756  234  11013
성산동   72756  234  26589
신공덕동  72756  234   7067
신수동   72756  234   9049
신정동   72756  234    909
아현동   72756  234  13779
연남동   72756  234   7867
염리동   72756  234  10381